### What is Mutual Information ?
Mutual information is process to reduce the size of inout features and same time retain the descriminatory information for classification problems.

#### 1) Mutual Information:-
        The mutual information of two random variables is a measure of the mutual dependence between the two variables.Which is symmetric and non-negative.

In [1]:
## Importing Important libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [2]:
data=pd.read_csv('Sentander Dataset//santander_train.csv',nrows=20000)

In [3]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

#### Splitting data into Independent and Dependent Variable.

In [4]:
X=data.drop('TARGET',axis=1)
y=data['TARGET']

In [5]:
X.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

### Splitting data into training and testing set.

In [13]:
## Importing Libraries.
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=0,stratify=y)

In [14]:
x_train.shape,x_test.shape

((14000, 370), (6000, 370))

In [15]:
## Importing Important Libraries.
from sklearn.feature_selection import VarianceThreshold,mutual_info_classif,mutual_info_regression
from sklearn.feature_selection import SelectKBest,SelectPercentile

### Removing the constant,Quasi constant and Duplicate Features from Dependent features.

In [16]:
constant_filters=VarianceThreshold(threshold=0.01)
constant_filters.fit(x_train)

VarianceThreshold(threshold=0.01)

In [20]:
### Transform all filter values.
x_train_filter=constant_filters.transform(x_train)
x_test_filter=constant_filters.transform(x_test)

In [21]:
x_train_filter

array([[1.14660000e+04, 2.00000000e+00, 2.40000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 8.98877700e+04],
       [8.08400000e+03, 2.00000000e+00, 4.90000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 2.64185790e+05],
       [3.60740000e+04, 2.00000000e+00, 2.70000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 2.35899060e+05],
       ...,
       [2.63890000e+04, 2.00000000e+00, 3.40000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 5.60284800e+04],
       [1.73270000e+04, 2.00000000e+00, 2.30000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.17310979e+05],
       [2.54060000e+04, 2.00000000e+00, 2.30000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 3.04163070e+05]])

In [22]:
x_test_filter

array([[3.34160000e+04, 2.00000000e+00, 2.30000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 4.60217100e+04],
       [3.76390000e+04, 2.00000000e+00, 2.60000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 8.88040200e+04],
       [6.14700000e+03, 8.00000000e+00, 3.40000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 6.74561100e+04],
       ...,
       [3.85170000e+04, 2.00000000e+00, 3.30000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 4.10017530e+05],
       [2.59980000e+04, 2.00000000e+00, 2.20000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 1.17310979e+05],
       [1.11010000e+04, 2.00000000e+00, 2.30000000e+01, ...,
        0.00000000e+00, 0.00000000e+00, 3.58341000e+04]])

In [26]:
constant_filters.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False, False,  True,
        True, False,  True,  True, False, False,  True, False,  True,
       False,  True,  True,  True, False,  True,  True, False, False,
        True, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False,  True, False, False,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False, False,  True,  True,  True,  True, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [25]:
constant_filters.get_support().sum()

242

In [27]:
## Finding the constant columns.
quasi_constant_columns=[columns for columns in x_train.columns
                        if columns not in x_train.columns[constant_filters.get_support()]]

print(len(quasi_constant_columns))

128

In [28]:
## Printing all constant columns.
for columns in quasi_constant_columns:
    print(columns)

ind_var1
ind_var2_0
ind_var2
ind_var6_0
ind_var6
ind_var13_largo_0
ind_var13_largo
ind_var13_medio_0
ind_var13_medio
ind_var14
ind_var17_0
ind_var17
ind_var18_0
ind_var18
ind_var19
ind_var20_0
ind_var20
ind_var27_0
ind_var28_0
ind_var28
ind_var27
ind_var29_0
ind_var29
ind_var30_0
ind_var31_0
ind_var31
ind_var32_cte
ind_var32_0
ind_var32
ind_var33_0
ind_var33
ind_var34_0
ind_var34
ind_var40
ind_var41
ind_var39
ind_var44_0
ind_var44
ind_var46_0
ind_var46
num_var6_0
num_var6
num_var13_medio_0
num_var13_medio
num_var18_0
num_var18
num_op_var40_hace3
num_var27_0
num_var28_0
num_var28
num_var27
num_var29_0
num_var29
num_var33_0
num_var33
num_var34_0
num_var34
num_var41
num_var46_0
num_var46
saldo_var13_medio
saldo_var18
saldo_var28
saldo_var27
saldo_var34
saldo_var41
saldo_var46
delta_imp_amort_var18_1y3
delta_imp_amort_var34_1y3
delta_imp_aport_var33_1y3
delta_imp_reemb_var17_1y3
delta_imp_reemb_var33_1y3
delta_imp_trasp_var17_out_1y3
delta_imp_trasp_var33_out_1y3
delta_num_aport_var33_1y3
delta_num_reemb_var17_1y3
delta_num_reemb_var33_1y3
delta_num_trasp_var17_out_1y3
delta_num_trasp_var33_out_1y3
imp_amort_var18_hace3
imp_amort_var18_ult1
imp_amort_var34_hace3
imp_amort_var34_ult1
imp_var7_emit_ult1
imp_reemb_var13_hace3
imp_reemb_var17_hace3
imp_reemb_var17_ult1
imp_reemb_var33_hace3
imp_reemb_var33_ult1
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var17_out_ult1
imp_trasp_var33_in_hace3
imp_trasp_var33_out_hace3
imp_trasp_var33_out_ult1
ind_var7_emit_ult1
ind_var7_recib_ult1
num_var2_0_ult1
num_var2_ult1
num_aport_var33_ult1
num_var7_emit_ult1
num_compra_var44_hace3
num_meses_var13_medio_ult3
num_meses_var17_ult3
num_meses_var29_ult3
num_meses_var33_ult3
num_meses_var44_ult3
num_reemb_var13_hace3
num_reemb_var13_ult1
num_reemb_var17_hace3
num_reemb_var17_ult1
num_reemb_var33_hace3
num_reemb_var33_ult1
num_trasp_var17_in_hace3
num_trasp_var17_in_ult1
num_trasp_var17_out_hace3
num_trasp_var17_out_ult1
num_trasp_var33_in_hace3
num_trasp_var33_in_ult1
num_trasp_var33_out_hace3
num_trasp_var33_out_ult1
num_venta_var44_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace2
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1
saldo_medio_var13_medio_ult3
saldo_medio_var29_hace3

In [29]:
## Dropping allquasi_constant_features.
x_train.drop(quasi_constant_columns,axis=1)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
5713,11466,2,24,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89887.770000
4034,8084,2,49,0.0,1262.19,1262.19,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264185.790000
18009,36074,2,27,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235899.060000
8720,17560,2,43,0.0,78.00,78.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85645.740000
13549,27131,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,131480.040000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,10783,2,23,0.0,53.85,53.85,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,161478.510000
19117,38333,2,25,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53324.460000
13166,26389,2,34,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56028.480000
8605,17327,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
12669,25406,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,304163.070000

#### Duplicate Feature Filters.

In [30]:
### Transpose all x_train_filter and x_test_filter data.
x_train_T=x_train_filter.T
x_test_T=x_train_filter.T

In [31]:
## converting all transpose dataset into pandas dataframe.
x_train_T=pd.DataFrame(x_train_T)
x_test_T=pd.DataFrame(x_test_T)

In [32]:
### Find out the Duplicate rows in Dataset.
x_train_T.duplicated().sum()

17

In [33]:
### Removing all duplicate feature we get.
duplicate_features=x_train_T.duplicated()
duplicate_features

0      False
1      False
2      False
3      False
4      False
       ...
237    False
238    False
239    False
240    False
241    False
Length: 242, dtype: bool

In [34]:
### Selecting the non_duplicated rows.
non_duplicated_feature=[not index for index in duplicate_features]

In [35]:
x_train_unique=x_train_T[non_duplicated_feature].T
x_test_unique=x_test_T[non_duplicated_feature].T

In [36]:
x_train_unique.shape,x_test_unique.shape

((14000, 225), (14000, 225))

### Calculate Mutual Information

In [ ]:
mi=mutual_info_classif(x_train_unique,y_train)

In [ ]:
len(mi)

In [ ]:
## Mutual Informations
mi

In [ ]:
### convert it inot panadas series.
mi=pd.Series(mi)
mi_index=x_train_unique.columns

In [ ]:
mi.sort_values(ascending=False,inplace=True)

In [ ]:
mi.plot.bar(figsize=(16,5))

In [ ]:
sel =SelectPercentile(mutual_info_classif,percentile=10)
sel.fit(x_train_unique,y_train)
x_train_unique.columns[sel.get_support()]

In [ ]:
len(x_train_unique.columns[sel.get_support()])

In [ ]:
x_train_mi=sel.transform(x_train_unique)
x_test_mi=sel.transform(x_test_unique)

In [ ]:
x_train_mi.shape,x_test_mi.shape,y_train.shape,y_test.shape

### Building the model and comapring the performance of selected features.

In [ ]:
## Importing Important Libraries.
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
## creating the method.
def random_forest_cls(x_train,x_test,y_train,y_test):
    cls=RandomForestClassifier(n_estimators=100,random_state=0,n_jobs=-1)
    cls.fit(x_train,y_train)
    y_pred=cls.predict(x_test)
    print("Accuracy =",accuracy_score(y_test,y_pred))

In [ ]:
random_forest_cls(x_train_mi,x_test_mi,y_train,y_test)